<form  method="post">
       <style>
           .input-container {
                 text-align: center; 
           }

           h1{
           text-align: center;
           }
           h2{
           text-align: center;
           }
       </style>
       
    <h1>Organizador De Ficheiros</h1>
    <h2>Caminho da pasta:</h2>
    <div class="input-container">
        <input type="text" name="caminho" placeholder="C:\Users\@example" required_minlength="3" size="100">
    </div>
    <br><br>
        <h3>Duplicados</h3>
        <button type="submit" name="acao" value="mover">Mover duplicados</button><br>
        <button type="submit" name="acao" value="apagar">Apagar duplicados</button>
        
        <br><br>
        <button type="submit" name="acao" value="backup">Executar BackUp</button>
        <br><br>
        <button type="submit" name="acao" value="organizar">Organizar Ficheiros</button>
        <br><br>
        <button type="submit" name="acao" value="renomear">Renomear Ficheiros</button>
        <br><br>
        <button type="submit" name="acao" value="relatorio">Gerar Relatório</button>
    

</form>


    